@page "/"

<h1>Hello, Blazor and MudBlazor</h1>
<h2>Welcome to my Blazor test site.</h2>
<h3>This site my play ground, base by Mudblazor.</h3>
<h4>My Github : <MudLink Href="https://github.com/nameofSEOKWONHONG" Underline="Underline.Always">SeokWonHong</MudLink></h4>
<h5>My Email : <MudLink Href="mailto:h20913@gmail.com" Underline="Underline.Always">h20913@gmail.com</MudLink></h5>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 400px;">
                <iframe height="400" width="200" src="https://github-readme-stats.vercel.app/api?username=nameofSEOKWONHONG"></iframe>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 400px;">
                <iframe height="400" width="200" src="https://github-readme-stats.vercel.app/api/top-langs/?username=nameofSEOKWONHONG&theme=blue-green"></iframe>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 400px;">
                <iframe height="400" width="200" src="https://github-readme-streak-stats.herokuapp.com/?user=nameofSEOKWONHONG&theme=blue-green"></iframe>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                        
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>