# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.d2dlib-winform.iml
# Datasource local storage ignored files
/../../../../../../:\workspace\d2dlib-winform\.idea\.idea.d2dlib-winform.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
