@using TodoBlazor.TodoList

<MudDrawerHeader>
    <h1>Todo's</h1>
</MudDrawerHeader>
<MudGrid>
    <MudItem xs="12">
        <MudGrid Spacing="2" Justify="Justify.Center">
            <MudItem>
                <MudPaper Style="height:auto;width:auto">
                    <TodoInsert OnSubmitCallback="@OnAdd"></TodoInsert>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
<MudGrid Style="padding: 30px;">
    <MudItem xs="12">
        <MudGrid Spacing="2" Justify="Justify.Center">
            <MudItem>
                <MudPaper Style="height:auto;width:auto">
                    <TodoBlazor.Components.TodoList TodoItems="@TodoItems"></TodoBlazor.Components.TodoList>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

@code {
    public List<TodoItem> TodoItems = new List<TodoItem>();

    protected override void OnInitialized() {
        Enumerable.Range(1, 10).xForEach(i => {
            TodoItems.Add(new TodoItem() {
                Id = i,
                Text = $"test{i}",
                IsDone = false,
                IsToggle = false
            });
        });
        base.OnInitialized();
    }

    public void OnAdd(TodoItem todo) {
      if(TodoItems.xCount() <= 0) {
          todo.Id = 1;
      }
      else {
          todo.Id = TodoItems.Max(m => m.Id) + 1;      
      }
      TodoItems.Add(todo);
  }
}