@using TodoBlazor.TodoList

<div class="TodoTemplate">
  <div class="app-title">일정 관리</div>
  <div class="content">
      <TodoBlazor.Components.TodoList TodoItems="@TodoItems"></TodoBlazor.Components.TodoList>
  </div>
</div>

@code {

  public List<TodoItem> TodoItems = new List<TodoItem>() {
    new TodoItem() {Id = 1, Text = "test1", IsDone = false, IsToggle = false},
    new TodoItem() {Id = 2, Text = "test2", IsDone = false, IsToggle = false},
    new TodoItem() {Id = 3, Text = "test3", IsDone = false, IsToggle = false},
    new TodoItem() {Id = 4, Text = "test4", IsDone = false, IsToggle = false},
    new TodoItem() {Id = 5, Text = "test5", IsDone = false, IsToggle = false},
    new TodoItem() {Id = 6, Text = "test6", IsDone = false, IsToggle = false},
  };

}