# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.JW2Library.iml
# Datasource local storage ignored files
/../../../../../../:\workspace\JW2Library\.idea\.idea.JW2Library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
